.item-listing.ng-enter,
.item-listing.ng-leave,
 {
 -webkit-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
 -moz-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
 -ms-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
 -o-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
 transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
 position: relative;
 display: block;
 overflow: hidden;
 text-overflow: clip;
 white-space:nowrap;
}
.item-listing.ng-leave.item-listing.ng-leave-active,
.item-listing.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.item-listing.ng-enter.item-listing.ng-enter-active,
.item-listing.ng-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}
