.label.label-por-aprobar{
	background-color: orange;
	color:#fff;
}
.label.label-por-facturar{
	background-color: red ;
	color:#fff;
}
.label.label-facturado-parcial{
	background-color: #6EC5E5;
	color:#fff;
}
.label.label-facturado-completo{
	background-color: #479B3E;
	color:#fff;
}
.label.label-anulada{
	background-color: #000;
	color:#fff;
}
