application/cache/*
application/config/config.php
application/config/database.php
public/uploads/*
.svn/
.buildpath
deployment.xml
public/themes/erp/js/navbar.js
public/logs/*
public/assets/css/modules/.sass-cache
public/logo
application/controllers/Clockwork.php
php-cs-fixer.phar
.tags*
nbproject/
nbproject/*
.idea/*
.env
vendor/*
public/assets/js/default/config.js
release
/releases/
composer.lock
deploy.php
node_modules/*
public/resources/compile/*/*
.eslintrc
