@CHARSET "ISO-8859-1";


.perfil-content{
	background-color:#FFFFFF;
	width:100%;
	height: 800px;
	padding: 15px 20px 10px 20px;
	border-style: solid solid none;
    border-width: 1px 0px;
	border-color: #e7eaec;
}

.perfil-image{
	height:120px;
	width:120px;
}
.perfil-heigh{
	padding-bottom:18px;
	padding-top:10px;
	padding-right:0px;
}
#perfil-mail{
	padding-top:10px;
	border-top:2px solid #e7eaec;
}
#perfil-nombre{
	padding-top:10px;
}
.last-login{
	border-top:2px solid #e7eaec;
	padding-top:12px;
	padding-bottom: 28px;
}
.perfil-usuario, .perfil-grupo-fechas,.perfil-actividades{
	background-color:#FFFFFF;
	display:table;
	border-top: 2px solid #999999;
	margin-bottom:30px;
}
.perfil-actividades{
	padding-bottom:15px;
}
.perfil-grupo-fechas{
	
	padding-top:12px;
}
.reset-padding-rigth{
	padding-right:0px;
}
.opciones-group{
	padding-bottom:16px;
}
.green-bg{
 background-color:#CFF17F;
 border-radius: .25em;
 /*#cef17c*/
}
.gray-bg1{
	background-color:#CDCDCD;
	border-radius: .25em;
}
.label-perfil-titulo{
    color: #000000;
	height:32px;
	padding: 10px 8px;
	font-size: 12px;
	vertical-align: baseline;
}
.label-actividad-tareas{
	color: #000000;
	height:40px;
	padding: 10px 8px;
	font-size: 14px;
	vertical-align: top;
}
.red-bg{
	background-color:#FE8B7E;
	border-radius: .25em;
}
.carret-green{
	color:#6ACB9A;
	padding-right:10px;
}
.carret-red{
	color:#FD676A;
	padding-right:10px;
}
.carret-font{
	font-size:20px;
}
.perfil-actividad-title{
    padding: 14px 15px 7px;
	color:#000000;
	font-size:20px;
	margin-top: 5px;
    font-weight: 600;
}
.icon-size{
	font-size:24px;
	color:#666666;
}
.footrow.footrow-ltr tr, .footrow.footrow-ltr td{
	font-size:14px;
	background-color:#E6E7E8;
}
tr.footrow.footrow-ltr td{
	vertical-align: middle;
	border:none;
}