<div class="col-lg-12 col-md-12">
        <div id="cargoadicional-accordion">
  		<div class="ibox-title">
  			<h5><input type="checkbox" name="campo[cargos_adicionales]" id="cargos_adicionales" class="toggle-cargoadicional" v-model="formulario.cargos_adicionales_checked" /> Cargos adicionales</h5>
  			<a href="#cargoadicional" id="togglecargoadicional" data-toggle="collapse">&nbsp;</a>
  		</div>
  		<div id="cargoadicional" class="ibox-content panel-collapse collapse {{formulario.cargos_adicionales_checked ? 'in' : ''}}">

        <!-- Lista de Precio Item Adicional -->
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <label>Lista de precio de venta<span required="" aria-required="true">*</span></label>
            <select class="form-control" id="lista_precio_id" name="campo[item_precio_id]" @change="cambiarListaPrecio" v-model="formulario.item_precio_id" data-rule-requiredvalidation="true"  v-select2="formulario.item_precio_id" :config="{width:'100%'}" :disabled="disableCampo">
                <option value="">Seleccione</option>
                <option value="{{precio.id}}" v-for="precio in cat_alquiler_lista_precio_venta | orderBy 'nombre'"  v-text="precio.nombre"></option>
            </select>
        </div>

  			<table class="table table-noline tabla-dinamica">
        <thead>
            <tr>
                <th width="1%" style="background: white;"></th>
                <th width="12%">Categoria<span class="required" aria-required="true">*</span></th>
                <th width="30%">Item<span class="required" aria-required="true">*</span></th>
                <th width="12%">Atributo<span class="required" aria-required="true">*</span></th>
                <th width="10%">Cantidad<span class="required" aria-required="true">*</span></th>
                <th width="12%">Unidad<span class="required" aria-required="true">*</span></th>
                <th>precio<span class="required" aria-required="true">*</span></th>
                <th>Subtotal<span class="required" aria-required="true">*</span></th>
                <th width="1%" style="background: white;padding: 0px 8px 0px 0px;">
                    <button type="button" class="btn btn-default btn-block agregarBtn"><i class="fa fa-plus" @click="addRow"></i></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr is="articulo" v-for="row in articulos"
             :parent_index="$index" :row="row" :catalogos="catalogos" :lista-articulos="articulos" :campo-disabled="campoDisabled" :config="config"></tr>
        </tbody>
    </table>

  		</div>
  	</div>
</div>
