/* line 2, ../sass/contabilidad.scss */
#addCuentaModal #plan_cuentas {
  height: 300px;
  overflow: auto;
}
/* line 6, ../sass/contabilidad.scss */
#addCuentaModal #plan_cuentas ul.jstree-container-ul a.jstree-anchor {
  color: #023859;
}

/* line 13, ../sass/contabilidad.scss */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 18, ../sass/contabilidad.scss */
ul#cuentas_tabs {
  margin-bottom: 15px;
}
