/* line 4, ../sass/clientes.scss */
a.link {
  color: blue;
  text-decoration: underline;
}
/* line 7, ../sass/clientes.scss */
a.link:visited {
  color: blue;
  text-decoration: underline;
}

/* line 13, ../sass/clientes.scss */
table#tablaGrupoClientesGrid a.link {
  color: blue;
  text-decoration: underline;
}
/* line 16, ../sass/clientes.scss */
table#tablaGrupoClientesGrid a.link:visited {
  color: blue;
  text-decoration: underline;
}
/* line 21, ../sass/clientes.scss */
table#tablaGrupoClientesGrid .totales, table#tablaGrupoClientesGrid label.totales-success, table#tablaGrupoClientesGrid label.totales-warning, table#tablaGrupoClientesGrid label.totales-danger, table#tablaGrupoClientesGrid form#formClienteCrear label.label-success-text, form#formClienteCrear table#tablaGrupoClientesGrid label.label-success-text, table#tablaGrupoClientesGrid form#formClienteCrear label.label-warning-text, form#formClienteCrear table#tablaGrupoClientesGrid label.label-warning-text, table#tablaGrupoClientesGrid form#formClienteCrear label.label-danger-text, form#formClienteCrear table#tablaGrupoClientesGrid label.label-danger-text {
  width: 100%;
  background: transparent;
  padding: 2px 7px;
  text-align: center;
  font-weight: bold;
}
/* line 28, ../sass/clientes.scss */
table#tablaGrupoClientesGrid label.totales-success {
  border: #5BB85C solid 2px;
  color: #5BB85C;
}
/* line 34, ../sass/clientes.scss */
table#tablaGrupoClientesGrid label.totales-warning {
  border: #F8AC59 solid 1px;
  color: #F8AC59;
}
/* line 39, ../sass/clientes.scss */
table#tablaGrupoClientesGrid label.totales-danger {
  border: #ED5565 solid 2px;
  color: #ED5565;
}

/* line 47, ../sass/clientes.scss */
form#formClienteCrear p.middle-text {
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
  padding-top: 46px;
  font-weight: bold;
}
/* line 54, ../sass/clientes.scss */
form#formClienteCrear .totales, form#formClienteCrear table#tablaGrupoClientesGrid label.totales-success, table#tablaGrupoClientesGrid form#formClienteCrear label.totales-success, form#formClienteCrear table#tablaGrupoClientesGrid label.totales-warning, table#tablaGrupoClientesGrid form#formClienteCrear label.totales-warning, form#formClienteCrear table#tablaGrupoClientesGrid label.totales-danger, table#tablaGrupoClientesGrid form#formClienteCrear label.totales-danger, form#formClienteCrear label.label-success-text, form#formClienteCrear label.label-warning-text, form#formClienteCrear label.label-danger-text {
  width: 100%;
  color: #FFFFFF;
  padding: 5px 7px;
  margin-top: 5px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
/* line 64, ../sass/clientes.scss */
form#formClienteCrear label.label-success-text {
  border: #5BB85C solid 1px;
  background-color: #5BB85C;
}
/* line 70, ../sass/clientes.scss */
form#formClienteCrear label.label-warning-text {
  border: #F8AC59 solid 1px;
  background-color: #F8AC59;
}
/* line 75, ../sass/clientes.scss */
form#formClienteCrear label.label-danger-text {
  border: #ED5565 solid 1px;
  background-color: #ED5565;
}
