/* line 4, ../sass/nota_debito.scss */
.header-ventas {
  background-color: #D9D9D9;
  padding: 6px 0;
}
/* line 7, ../sass/nota_debito.scss */
.header-ventas div.text-header {
  padding-top: 8px;
  font-size: 14px;
  font-weight: bolder;
  color: #666666;
}

/* line 14, ../sass/nota_debito.scss */
a.link {
  color: blue;
  text-decoration: underline;
}
/* line 17, ../sass/nota_debito.scss */
a.link:visited {
  color: blue;
  text-decoration: underline;
}

/* line 24, ../sass/nota_debito.scss */
table tbody tr {
  border-top: none;
}

/* line 30, ../sass/nota_debito.scss */
form#form_crear_notaDebito .precio_total, form#form_crear_notaDebito .precio_unidad {
  text-align: right;
}
/* line 33, ../sass/nota_debito.scss */
form#form_crear_notaDebito .totales, form#form_crear_notaDebito label.label-success-text, form#form_crear_notaDebito label.label-warning-text, form#form_crear_notaDebito label.label-danger-text, form#form_crear_notaDebito table#tablaNotaDebitoGrid label.totales-success, table#tablaNotaDebitoGrid form#form_crear_notaDebito label.totales-success, form#form_crear_notaDebito table#tablaNotaDebitoGrid label.totales-warning, table#tablaNotaDebitoGrid form#form_crear_notaDebito label.totales-warning, form#form_crear_notaDebito table#tablaNotaDebitoGrid label.totales-danger, table#tablaNotaDebitoGrid form#form_crear_notaDebito label.totales-danger {
  width: 100%;
  color: #FFFFFF;
  padding: 5px 7px;
  margin-top: 5px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
/* line 43, ../sass/nota_debito.scss */
form#form_crear_notaDebito label.label-success-text {
  border: #5BB85C solid 1px;
  background-color: #5BB85C;
}
/* line 49, ../sass/nota_debito.scss */
form#form_crear_notaDebito label.label-warning-text {
  border: #F8AC59 solid 1px;
  background-color: #F8AC59;
}
/* line 54, ../sass/nota_debito.scss */
form#form_crear_notaDebito label.label-danger-text {
  border: #ED5565 solid 1px;
  background-color: #ED5565;
}
/* line 60, ../sass/nota_debito.scss */
form#form_crear_notaDebito .fila-total {
  width: 100%;
  border-top: dashed 1px black;
  border-bottom: solid 1px black;
  height: 40px;
}
/* line 65, ../sass/nota_debito.scss */
form#form_crear_notaDebito .fila-total .posicion {
  margin-top: 10px;
  width: 50%;
  float: left;
}
/* line 70, ../sass/nota_debito.scss */
form#form_crear_notaDebito .fila-total .monto-total, form#form_crear_notaDebito .fila-total .titulo-total {
  font-weight: bold;
  font-size: 14px;
}
/* line 75, ../sass/nota_debito.scss */
form#form_crear_notaDebito .fila-total1 {
  width: 100%;
  border-bottom: solid 1px black;
  height: 40px;
}
/* line 79, ../sass/nota_debito.scss */
form#form_crear_notaDebito .fila-total1 .posicion {
  margin-top: 10px;
  width: 50%;
  float: left;
}
/* line 84, ../sass/nota_debito.scss */
form#form_crear_notaDebito .fila-total1 .monto-total, form#form_crear_notaDebito .fila-total1 .titulo-total {
  font-weight: bold;
  font-size: 14px;
}
/* line 89, ../sass/nota_debito.scss */
form#form_crear_notaDebito .no-line {
  border: none !important;
}
/* line 92, ../sass/nota_debito.scss */
form#form_crear_notaDebito .moneda {
  text-align: end;
}

/* line 97, ../sass/nota_debito.scss */
table#tablaNotaDebitoGrid a.link {
  color: blue;
  text-decoration: underline;
}
/* line 100, ../sass/nota_debito.scss */
table#tablaNotaDebitoGrid a.link:visited {
  color: blue;
  text-decoration: underline;
}
/* line 105, ../sass/nota_debito.scss */
table#tablaNotaDebitoGrid .totales, table#tablaNotaDebitoGrid form#form_crear_notaDebito label.label-success-text, form#form_crear_notaDebito table#tablaNotaDebitoGrid label.label-success-text, table#tablaNotaDebitoGrid form#form_crear_notaDebito label.label-warning-text, form#form_crear_notaDebito table#tablaNotaDebitoGrid label.label-warning-text, table#tablaNotaDebitoGrid form#form_crear_notaDebito label.label-danger-text, form#form_crear_notaDebito table#tablaNotaDebitoGrid label.label-danger-text, table#tablaNotaDebitoGrid label.totales-success, table#tablaNotaDebitoGrid label.totales-warning, table#tablaNotaDebitoGrid label.totales-danger {
  width: 100%;
  background: transparent;
  padding: 2px 7px;
  text-align: center;
  font-weight: bold;
}
/* line 112, ../sass/nota_debito.scss */
table#tablaNotaDebitoGrid label.totales-success {
  border: #5BB85C solid 2px;
  color: #5BB85C;
}
/* line 118, ../sass/nota_debito.scss */
table#tablaNotaDebitoGrid label.totales-warning {
  border: #F8AC59 solid 1px;
  color: #F8AC59;
}
/* line 123, ../sass/nota_debito.scss */
table#tablaNotaDebitoGrid label.totales-danger {
  border: #ED5565 solid 2px;
  color: #ED5565;
}
