/* line 6, ../sass/facturas.scss */
a.link {
  color: blue;
  text-decoration: underline;
}
/* line 9, ../sass/facturas.scss */
a.link:visited {
  color: blue;
  text-decoration: underline;
}

/* line 15, ../sass/facturas.scss */
table#ordenesGrid a.link {
  color: blue;
  text-decoration: underline;
}
/* line 18, ../sass/facturas.scss */
table#ordenesGrid a.link:visited {
  color: blue;
  text-decoration: underline;
}
/* line 23, ../sass/facturas.scss */
table#ordenesGrid .totales, table#ordenesGrid label.totales-success, table#ordenesGrid label.totales-warning, table#ordenesGrid label.totales-danger, table#ordenesGrid form#crearOrdenesForm label.label-success-text, form#crearOrdenesForm table#ordenesGrid label.label-success-text, table#ordenesGrid form#crearOrdenesForm label.label-warning-text, form#crearOrdenesForm table#ordenesGrid label.label-warning-text, table#ordenesGrid form#crearOrdenesForm label.label-danger-text, form#crearOrdenesForm table#ordenesGrid label.label-danger-text {
  width: 100%;
  background: transparent;
  padding: 2px 7px;
  text-align: center;
  font-weight: bold;
}
/* line 30, ../sass/facturas.scss */
table#ordenesGrid label.totales-success {
  border: #5cb85c solid 2px;
  color: #5cb85c;
}
/* line 36, ../sass/facturas.scss */
table#ordenesGrid label.totales-warning {
  border: #f0ad4e solid 1px;
  color: #f0ad4e;
}
/* line 41, ../sass/facturas.scss */
table#ordenesGrid label.totales-danger {
  border: #d9534f solid 2px;
  color: #d9534f;
}

/* line 48, ../sass/facturas.scss */
form#crearOrdenesForm .precio_total, form#crearOrdenesForm .precio_unidad {
  text-align: right;
}
/* line 51, ../sass/facturas.scss */
form#crearOrdenesForm .totales, form#crearOrdenesForm table#ordenesGrid label.totales-success, table#ordenesGrid form#crearOrdenesForm label.totales-success, form#crearOrdenesForm table#ordenesGrid label.totales-warning, table#ordenesGrid form#crearOrdenesForm label.totales-warning, form#crearOrdenesForm table#ordenesGrid label.totales-danger, table#ordenesGrid form#crearOrdenesForm label.totales-danger, form#crearOrdenesForm label.label-success-text, form#crearOrdenesForm label.label-warning-text, form#crearOrdenesForm label.label-danger-text {
  width: 100%;
  color: #FFFFFF;
  padding: 5px 7px;
  margin-top: 5px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
/* line 61, ../sass/facturas.scss */
form#crearOrdenesForm label.label-success-text {
  border: #5cb85c solid 1px;
  background-color: #5cb85c;
}
/* line 67, ../sass/facturas.scss */
form#crearOrdenesForm label.label-warning-text {
  border: #f0ad4e solid 1px;
  background-color: #f0ad4e;
}
/* line 72, ../sass/facturas.scss */
form#crearOrdenesForm label.label-danger-text {
  border: #d9534f solid 1px;
  background-color: #d9534f;
}

form#crearOrdenesForm label.label-danger-text {
    width: 100%;
    color: #FFFFFF;
    padding: 5px 7px;
    margin-top: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

form#crearOrdenesForm label.label-success-text {
    width: 100%;
    color: #FFFFFF;
    padding: 5px 7px;
    margin-top: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

/* line 48, ../sass/facturas.scss */
form#crearOrdenesForm .precio_total, form#crearOrdenesForm .precio_unidad {
  text-align: right;
}
/* line 51, ../sass/facturas.scss */
form#crearOrdenesForm .totales, form#crearOrdenesForm table#ordenesGrid label.totales-success, table#ordenesGrid form#crearOrdenesForm label.totales-success, form#crearOrdenesForm table#ordenesGrid label.totales-warning, table#ordenesGrid form#crearOrdenesForm label.totales-warning, form#crearOrdenesForm table#ordenesGrid label.totales-danger, table#ordenesGrid form#crearOrdenesForm label.totales-danger, form#crearOrdenesForm label.label-success-text, form#crearOrdenesForm label.label-warning-text, form#crearOrdenesForm label.label-danger-text {
  width: 100%;
  color: #FFFFFF;
  padding: 5px 7px;
  margin-top: 5px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
/* line 61, ../sass/facturas.scss */
form#crearOrdenesForm label.label-success-text {
  border: #5cb85c solid 1px;
  background-color: #5cb85c;
}
/* line 67, ../sass/facturas.scss */
form#crearOrdenesForm label.label-warning-text {
  border: #f0ad4e solid 1px;
  background-color: #f0ad4e;
}
/* line 72, ../sass/facturas.scss */
form#crearOrdenesForm label.label-danger-text {
  border: #d9534f solid 1px;
  background-color: #d9534f;
}

/* line 78, ../sass/facturas.scss */
tfoot {
  font-weight: bolder;
}
/* line 80, ../sass/facturas.scss */
tfoot .sum-border {
  border: #ddd 1px solid !important;
}
/* line 83, ../sass/facturas.scss */
tfoot .sum-total {
  float: right;
}
/* style para el modal del correo del proveedor*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  margin: 0px auto;
  padding: 9px 15px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #000000;
  font-weight: bold;
}

.modal-body {
  margin: 0px 0;
}
.modal-footer {
  margin: 0px 0;
}
.modal-default-button {
  float: right;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
